<div class="herosec">
    <div class="premier">
        <img class="imi" src="https://cdn.discordapp.com/attachments/1045318167389544480/1106531005189337119/latest.png"
            alt="">
        <h1>PREMIER</h1>


    </div>
    <div class="list-div">
        <ul class="lis">
            <li><a style="color: yellow;" href="#">May (BETA)</a> </li>
            <li><a href="#">June</a> </li>
            <li><a href="#">July</a> </li>
            <li><a href="#">August</a> </li>
        </ul>
    </div>

    <div class="lust-div">
        <ul class="lus">
            <li>
                Score 320
            </li>
            <li>
                <span style="color: greenyellow;">Wins</span> 3 - 2 <span style="color: red;">Lost</span>
            </li>
            <li>
                Division 8
            </li>
        </ul>
    </div>

</div>
<div class="mats">
    <div class="box box1">
        <div class="tab">
            <h2 class="titles">GenX Inception</h2>
            <div class="row mice">
                <div class="col-3 col-first">Name</div>
                <div class="col-1">K</div>
                <div class="col-1">D</div>
                <div class="col-1">A</div>
                <div class="col-1">CS</div>
                <div class="col-1">HS</div>
                <div class="col-1">ACS</div>
                <div class="col-1">K/D</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">Mims</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">Noah</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">CARRY</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">Kidox</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>

    </div>
    <div class="box box2">
        <p>Score</p>
        <p>13 - 2</p>
    </div>
    <div class="box box3">
        <div class="tab">
            <h2 class="titles">Deadly Sins</h2>
            <div class="row mice">
                <div class="col-3 col-first">Name</div>
                <div class="col-1">K</div>
                <div class="col-1">D</div>
                <div class="col-1">A</div>
                <div class="col-1">CS</div>
                <div class="col-1">HS</div>
                <div class="col-1">ACS</div>
                <div class="col-1">K/D</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">Mims</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">Noah</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">YASH</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>
        <div class="tab">

            <div class="row">
                <div class="col-3 col-first">CARRY</div>
                <div class="col-1">10</div>
                <div class="col-1">1</div>
                <div class="col-1">3</div>
                <div class="col-1">78</div>
                <div class="col-1">23</div>
                <div class="col-1">500</div>
                <div class="col-1">1.1</div>
            </div>
        </div>

    </div>
</div>