* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(0, 0, 0) url(http://lorempixel.com/1920/1080/nature/); */
    background-color: #121212 !important;
    font-family: Lato, Helvetica, Arial, sans-serif !important;
}

::-webkit-scrollbar {
    display: none;
}


a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

.herosec {
    color: white;


}

.premier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;


}

.imi {
    height: 60px;
    width: 60px;
}

/*======================================================
                            Navbar
    ======================================================*/
#navbar {
    margin-top: 2.5vh;
    margin-bottom: 6vh;
    /* background: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    /* position: fixed; */
    top: 0;
    height: 10vh;
    line-height: 5em;
    width: 100vw;
    z-index: 10;
}

.genx {
    color: yellow;
}

.list-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.lust-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.lis {
    list-style: none;
    /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.lus {
    list-style: none;
    /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.lis li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;

    /* Add spacing between items */
}

.lus li {
    display: inline;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 2rem;
}

.mice {
    font-weight: bold;
}

.dropmainu {
    color: black !important;
}


.buton {
    border: none;
    padding: none;
    outline: none;
}

.mats {
    display: flex;

    justify-content: space-between;
    align-items: center;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to right, #5AFF15,
            #00B712);
    padding: 1rem;
    cursor: pointer;

}

.mat2 {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to right, #FF0000,
            #990000);
    padding: 1rem;

}

.box {
    height: 180px;
    flex-grow: 1;
    text-align: center;
    /* border: 1px solid red; */

}

.titles {
    margin-bottom: 1rem;
}

.box1,
.box3 {

    flex-basis: 40%;
    /* border: 1px solid red; */
}

/* .box1 {
    margin-left: 10%;
}

.box3 {
    margin-right: 10%;
} */

.box2 p {
    font-size: 2em;
    color: black;

}


.matlo {
    transition: all 0.3s ease;
}

.matlo:hover {
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 0, 0.4) 5px 5px, rgba(209, 209, 0, 0.3) 10px 10px, rgba(163, 163, 0, 0.2) 15px 15px, rgba(117, 117, 0, 0.1) 20px 20px, rgba(117, 117, 0, 0.05) 25px 25px;

}


.box2 {
    /* border: 1px solid red; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainmemcont {

    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -20px;

}



.memcont {
    display: flex;
    /* border: red solid 1px; */
    width: 100%;
    height: 100%;


}

.smol {
    width: 50%;
    height: 100%;
    /* border: #5AFF15 solid 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    padding: 3em;
    position: relative;
    display: inline-block;
    transition: all 0.4s ease;

}

.smol img {
    width: 12em;
    height: 12em;

    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease;
}

.text-overlay {
    position: absolute;
    top: 0;
    /* right: -150px;
  
    width: 150px;
    */
    /* Adjust as needed */
    height: 100%;
    width: 100%;
    /* background-color: green; */
    color: black;
    padding: 10px;
    /* transition: all 0.3s ease; */

    opacity: 0;

}

.smol:hover .text-overlay {
    right: 0;
    opacity: 1;
}

.smol:hover {
    background-color: rgba(254, 214, 40, 1);
    border-radius: 1rem;

    transform: translateY(-5px);
    /* box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.6); */
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);

}

.smol.smollft:hover~.smol.smolrt .combort {
    opacity: 0.7;
    transform: translateX(20%);
}

.smol.smolrt:hover~.smol.smollft .combolft {
    opacity: 0.7;
    transform: translateX(-30%);
}



.smol:hover .combo h2 {
    opacity: 0;
}

.insidetext {
    margin-left: 45%;
    padding-top: 10%;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 4rem;
}





.combo {
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

.smol:hover .combo {
    /* position: left; */
    /* Adjust as needed */
    transform: translateX(-35%);
}

.poro {
    width: 100%;
    height: 50vh;
    margin-top: -5vh;
    /* overflow: hidden; */

}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* transition: transform 0.5s ease-in-out; */


    /* Adjust this value based on the number of carousel items */
}


.carousel-item {
    flex: 1;
    height: 100%;


}

.carousel-item img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
}

.login-cont {

    background: #FFCC00;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 420px;

    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-cont h1 {
    color: black;

}

.inp {
    border: none;
    outline: none;
    margin-bottom: 1rem;
    padding: 0.4em 1em;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    /* width: calc(100% - 100px); */
}

.inp input {
    background: none;
    border: none;
    outline: none;
}

.btn-log {

    margin: 0.5em;
    border-radius: 7%;
    border: none;
    height: 38px;
    width: 6rem;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 30%;

}

.btn-log:hover {
    background: #7c7c7c6b;
}

/* .dropdown {
    position: relative;
    display: inline-block; 
} */

/* .dropdown .btn {
    background-color: #fff; 
    color: #333;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
} */

/* .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
     background-color: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    z-index: 1;

} */

/* .dropdown .dropdown-item {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
} */

/* .login-link {
    color: #333;
    text-decoration: none;
    font-size: 14px;
} */
.dropdown-item {
    margin-top: -2rem;
    height: 3rem;
    max-width: 100px;
}

.dropmainu {
    max-width: 100px;
}

.dropdown-item:hover {
    /* Remove or override the hover styles */
    /* Example: */
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}




.tab {
    width: 100%;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1,
.col-first {
    flex-basis: 11.1111%;
    text-align: center;
}

.col-first {
    flex-basis: 16.6667%;
}




.lis li a {
    font-size: 1.5rem;
}





.midsec {
    /* position: relative; */
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

@media(max-width: 768px) {
    .nav-wrapper {
        width: 90%;
    }
}

@media(max-width: 638px) {
    .nav-wrapper {
        width: 100%;
    }
}


.logon {
    float: left;
    margin-left: 28px;
    font-size: 3em;
    height: 80%;
    letter-spacing: 1px;


}

.logon a {
    text-decoration: none !important;
    color: white;
}

.drops {
    color: white !important;
}

@media(max-width: 768px) {
    .logon {
        /*       margin-left: 5px; */
    }
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
    #navbar ul {
        display: none;
    }
}

@media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
}

#navbar li {
    display: inline-block;
}

/* #navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 0.9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
} */
.men-link {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 0.9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;

    -webkit-transition: all 0.5s ease;

}

.men-link:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(255, 234, 0);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
}

/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */

#navbar li a:hover:before {
    background: rgb(255, 255, 255);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
}

/* transition: 0s; */



/*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
@media(max-width: 640px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }


    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}


/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
.overlay-menu {
    background: lightblue;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
    /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}