<div class="cont">
    <div class="login-cont">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="inp">
                <!-- <label for="username">Username:</label> -->
                <input type="text" id="username" name="username" autocomplete="off" placeholder="Enter email / username"
                    required>
            </div>

            <div class="inp">
                <!-- <label for="password">Password:</label> -->
                <input type="password" id="password" autocomplete="off" name="password" placeholder="Passcode" required>
            </div>
            <p>Haven't registered yet? <span><a href="/register">Register</a></span>
            </p>
            <div>
                <button class="btn-log" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>